/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}




ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */





input:focus, input:active,
button:focus, button:active {
    outline: none;
}


button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}



@font-face {
    font-family: Outfit;
    src: url('/public/fonts/Outfit.ttf');
}

body {
    font-size: 18px;
    font-family: Outfit;
    font-weight: 400;
}
.error {
    border: 2px solid red;
    
}
h1 {
	font-family: Outfit;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;

}
h2 {
	font-family: Outfit;
	font-weight: 500;
	font-size: 26px;
	line-height: 32px;

}
main {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	display: flex;
    align-items: baseline;
	gap: 25px;
	margin-top: 50px;
}

form {
    background: #394867;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 1;
}
form div:has(input) , form div:has(textarea){
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
div:has(input ) img , div:has(input ) img {
    padding-right: 10px;
    border-right: 2px solid #394867 ;
    margin-right: 5px;
}
form button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
textarea {
	width: 100%;
	resize: vertical;
	outline: none;
}
input , textarea , button{
	font-family: Outfit;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	width: 100%;

}

a , button {
    padding: 10px;
    border: 1px solid #394867;
    color: #394867;
    border-radius: 12px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    transition: all .5s ease;
}
a:hover , button:hover {
    background-color: #394867 ;
    border: 1px solid white;
    color: white;
}
section {
    width: 100%;
}